In [22]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

%matplotlib inline
matplotlib.rcParams['figure.figsize'] = [12, 12]
np.random.seed(42)

In [34]:
movies = pd.read_csv("data_movies1.csv")
movies.shape

(231, 12)

In [35]:
movies.head()

,Movie,Year,Ratings,Genre,Gross,Budget,Sequel,Views,Likes,Dislikes,Comments,Aggregate Followers
0,13 Sins,2014,6.3,8,9130,4000000.0,1,3280543,4632,425,636,1120000
1,22 Jump Street,2014,7.1,1,192000000,50000000.0,2,583289,3465,61,186,12350000
2,3 Days to Kill,2014,6.2,1,30700000,28000000.0,1,304861,328,34,47,483000
3,300: Rise of an Empire,2014,6.3,1,106000000,110000000.0,2,452917,2429,132,590,568000
4,A Haunted House 2,2014,4.7,8,17300000,3500000.0,2,3145573,12163,610,1082,1923800

In [36]:
movies = movies.drop("Movie", axis=1)

In [37]:
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.model_selection import train_test_split

# KNN for classification problems
I tested KNN for classification, specifically let's assume that we want to predict the genre of a movie based on its popularity.

In [38]:

from sklearn.metrics import f1_score

variable_objetivo_clasificacion = "Genre"
variables_independientes_clasificacion = movies.drop(
    variable_objetivo_clasificacion, axis=1).columns

In [39]:

X_train, X_test, y_train, y_test = train_test_split(
    movies[variables_independientes_clasificacion],
    movies[variable_objetivo_clasificacion], test_size=0.20)

In [11]:
KNeighborsClassifier?

The most important parameters when using KNeighborsClasifier are:

- n_neighbors: The value of K, that is, the number of neighbors to consider when assigning a class.
- weights: When it comes to voting, how important is it to give to the neighbors. If we choose car, it assigns the same importance to all the neighbors. If we choose distance, it assigns importance to the neighbors based on the distance from the - neighbors to the point to be classified
- metric: The metric when measuring the distance between the points. If Minkowsky distance is used, p can be chosen with the parameter p, which by default is 2 (which computes the Euclidean distance).

In this particular case we know what value to choose from K, since we can assume that the number of categories in the dataset is the total number of movie categories in the training dataset.

In [40]:
k_categorias = len(y_train.unique())
k_categorias

10

In [41]:

sorter_knn = KNeighborsClassifier(n_neighbors=12, weights="uniform")
sorter_knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=12)

In [42]:
preds = sorter_knn.predict(X_test)
f1_score(y_test, preds, average="micro")

0.38297872340425526

In [43]:
sorter_knn = KNeighborsClassifier(n_neighbors=10, 
                                        weights="distance")

sorter_knn.fit(X_train, y_train)

preds = sorter_knn.predict(X_test)
f1_score(y_test, preds, average="micro")

0.38297872340425526

We can use the kneighbors method to return the k neighbors of a specific point

In [44]:
X_test.iloc[0]

Year                       2015.0
Ratings                       7.7
Gross                  49500000.0
Budget                 30000000.0
Sequel                        1.0
Views                  11476882.0
Likes                     40496.0
Dislikes                   1383.0
Comments                   4435.0
Aggregate Followers           0.0
Name: 218, dtype: float64

In [45]:
distance, index = sorter_knn.kneighbors(
    [X_test.iloc[0]], n_neighbors=1)
distance, index

(array([[8648469.61304606]]), array([[156]], dtype=int64))

In [47]:
X_train.iloc[index[0]]

,Year,Ratings,Gross,Budget,Sequel,Views,Likes,Dislikes,Comments,Aggregate Followers
191,2015,7.3,42500000,25000000.0,1,11036701,50002,1005,3525,776000

We see that the nearest neighbor is similar.

# KNN for regression problems

We are now going to use the KNN algorithm for a regression problem, KNN works the same to do regressions, simply that instead of a vote where the most common class among the closest neighbors is the chosen one, an interpolation of the values of the Objective numerical variable of the neighbors.


Specifically, we will estimate a movie's rating based on its online popularity and budget.

In [49]:
from sklearn.metrics import mean_squared_error

target_variable_regresion = "Ratings"
independent_variables_regresion = movies.drop(
    target_variable_regresion, axis=1).columns

In [50]:
X_train, X_test, y_train, y_test = train_test_split(
    movies[independent_variables_regresion],
    movies[target_variable_regresion], test_size=0.20)

We use the implementation in sklearn KNeighborsRegressor for regression problems. It has the same hyperparameters as NeighborsClassifier.

In [51]:
KNeighborsRegressor?

In [52]:
regresor_knn = KNeighborsRegressor(n_neighbors=10, weights="distance")

regresor_knn.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=10, weights='distance')

In [53]:

preds = regresor_knn.predict(X_test)
preds

array([6.03471808, 7.56968834, 5.92735422, 6.36187239, 6.08678709,
       6.48539033, 6.96721807, 6.55262025, 6.59562762, 5.87001251,
       6.6884213 , 7.38110603, 6.39663533, 5.95413766, 6.51981556,
       5.85118455, 6.40385919, 6.63010777, 6.35782291, 6.49363535,
       6.28316497, 6.13233039, 6.54919148, 6.03646421, 6.04144111,
       6.70913488, 6.97256534, 6.59169321, 5.86845125, 7.22445958,
       5.85473251, 6.55750837, 6.20924403, 6.82306304, 6.99441989,
       7.24660947, 6.67433805, 6.37500542, 6.03835909, 6.53424175,
       7.05121279, 6.99811042, 7.26120695, 7.33524171, 6.36581131,
       6.98760683, 6.34280441])

In [54]:
np.sqrt(np.abs(mean_squared_error(y_test, preds)))

0.9106811896268168

Now we see the operation in cross validation of both the classifier and the regressor

In [55]:
from sklearn.model_selection import cross_val_score

In [64]:
error_validacion_cruzada_regresion = np.sqrt (np.abs (
     cross_val_score (KNeighborsRegressor (weights = "distance"),
                 X = movies [independent_variables_regresion],
                y = movies [target_variable_regresion],
                scoring = "neg_mean_squared_error"
         ) .mean ()
       )
)
print ("The KNN RMSE error for regression on this dataset is {: .2f}". format (
     error_validacion_cruzada_regresion))

The KNN RMSE error for regression on this dataset is  0.99

In [ ]:
cross_classification_validation_error = np.sqrt (np.abs (
     cross_val_score (KNeighborsClassifier (n_neighbors = k_categorias,
                                          weights = "distance"),
                 X = movies [independent_variables_regresion],
                y = movies [target_variable_regresion],
                scoring = "f1_micro"
         ) .mean ()
       )
)
print ("The KNN F1 score for classification in this dataset is {:.2f}". format (
     cross_classification_validation_error))